<h1 class="page-header"><%= users.title %></h1>		
<button id="add_users" type="button" class="btn btn-sm btn-success btn-menu" title="Ajouter"><i class="fa fa-user-plus fa-lg"></i></button> 
<button id="refresh_users" type="button" class="btn btn-sm btn-info btn-menu" title="Rafraichir"><i class="fa fa-refresh fa-lg"></i></button>
</div>
<table id="table" class="table" data-row-style="rowStyle" cellspacing="0"  data-toggle="table" ><!--data-url="data.php?token=".$_SESSION['token']."&m=account&type=get&att=users"-->
	<thead>
	<tr>
		<th data-field="tools" class="groups_col_tools" data-formatter="toolsFormater" data-events="toolsEvents"> Actions </th>
		<th data-field="USERS_ID" data-sortable="true" ><%= users.id %></th>
		<th data-field="USERS_LOGIN" data-sortable="true" ><%= users.login %></th>
		<th data-field="USERS_NAME" data-sortable="true" ><%= users.name %></th>
		<th data-field="USERS_EMAIL" data-sortable="true"><%= users.mail %></th>
	</tr>
	</thead>
</table>